
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.try-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.try-again {
    color: wheat;
    font-size: 32px;
    font-weight: 700;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    animation: text-drop 4s ease-in-out;
}

@keyframes text-drop {
    0%   {
        top: -20px;
        transform: rotate(0deg);
    }
    20%   {
        transform: rotate(0deg);
        left: calc(50% - 50px);
    }
    40%   {
        transform: rotate(-30deg);
        left: calc(50% + 50px);
    }
    60%   {
        transform: rotate(30deg);
    }
    80%   {
        transform: rotate(-15deg);
    }
    100% {
        top: 50%;
    }
}