button{
    justify-content: center;
    height: auto;
    width: 286px;
    max-width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid #feb63d;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    &:hover{
        background: #feb63d;
        color: white;
    }
    &:disabled {
        color: grey;
        &:hover{
            background: transparent;     
    }}
}

button:last-child {
    border: 1px solid #088c50;
}