body {
  background-color: #404040;
}
.App {
  text-align: center;
  margin: 50px;
  
}
.question-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 30px;
}
.question {
  padding: 30px;
}
