body {
  background-color: #404040;
}
.App {
  text-align: center;
  margin: 50px;
  
}
.question-wrapper {
  width: 100%;
    img {
      display: inline-block !important ;
      font-size: calc(10px + 2vmin);
      color: white;
      margin-bottom: 30px;
    }

}
// .question-wrapper {

//   font-size: calc(10px + 2vmin);
//   color: white;
//   margin-bottom: 30px;
// }
// .question {
//   padding: 30px;
// }
